<nav><a href="/">Home</a></nav>
{{#if item}}
<h2>{{item.name}} detail</h2>
<ul>
    <li>Manufacturer: {{item.manufacturer}}</li>
    <li>Price: ${{item.price}}</li>
    <li>Feature(s):
        <ul>
            {{#each item.feature}}
            <li>
                {{this}}
            </li>
            {{/each}}
        </ul>
    </li>
</ul>
{{else}}
<p>{{searchingItem}} not found</p>
{{/if}}